<h4> Photo uploaded </h4> 

<input type="submit" name="add another photo" value="Add Another Photo"
            onclick="window.location='../../api/addPhoto/?id=<%= _memory %>'; " > 

<input type="submit" name="view memory" value="View Memory"
    onclick="window.location='../../memory/?id=<%= _memory %>'">

<input type="submit" name="Home" value="Home" onclick="window.location='../../profile'"> 