<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title> Image Gallery Playground </title> 
<link rel="stylesheet" href="imageGallery-play/src/photoswipe.css">
<link rel="stylesheet" href="imageGallery-play/src/default-skin/default-skin.css">

<link rel="stylesheet" href="css/reset.css"> 
<link rel="stylesheet" href="css/style.css"> 
<script src="js/modernizr.js"> </script> 

<script src="imageGallery-play/src/photoswipe.min.js"> </script>
<script src="imageGallery-play/src/photoswipe-ui-default.min.js"> </script> 

</head>

<body>

<section class="cd-single-item">
    <div class="cd-slider-wrapper">
        <ul class="selected"> 
            <li class="selected"> <img src="img/img-1.jpg" alt="image 1"> </li> 
            <li> <img src="img/img-2.jpg" alt="image 2"> </li> 
            <li> <img src="img/img-3.jpg" alt="image 3"> </li> 
        </ul> 

        <ul class="cd-slider-navigation">
            <li> <a href="#0" class="cd-prev inactive"> Next </a> </li> 
            <li> <a href="#0" class="cd-next"> Prev </a> </li> 
        </ul> 

        <a href=#0" class="cd-close"> Close</a> 
    </div> 
    
    <div class="cd-item-info">
    </div> 

</section> 

<script src="js/jquery-2.1.1.js"> </script>
<script src="js/jquery.mobile.min.js"> </script>
<script src="js/main.js"> </script> 

</body>
</html> 